stages:
  - build

variables:
  GIT_SUBMODULE_STRATEGY: recursive

all:
  stage: build
  tags:
    - os:ubuntu,
    - package:python3
    - type:shell
  script:
    - curl https://thopiekar.eu:5443/cura-plugins/CuraPluginOven/raw/deployment/cpo.py?inline=false --output cpo.py
    - python3 ./cpo.py --create=package610 --source=./
    - python3 ./cpo.py --create=package600 --source=./
    - python3 ./cpo.py --create=package5 --source=./
    - python3 ./cpo.py --create=package4 --source=./
    - python3 ./cpo.py --create=plugin4 --source=./
    - python3 ./cpo.py --create=source --source=./
  only:
    - triggers
    - branches
    - tags
  artifacts:
    paths:
      - ./*.curapackage
      - ./*.curaplugin
      - ./*.umplugin
      - ./*.zip
